<!--<h2>질문 목록</h2>-->

<!--<table border="1">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>번호</th>-->
<!--        <th>제목</th>-->
<!--        <th>작성일시</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--&lt;!&ndash;  코드 축약 및 반복되었을 시 출력시켜주는 구문  &ndash;&gt;-->
<!--    <tr th:each="q : ${questionList}">-->
<!--        <td th:text="${q.id}"></td>-->
<!--        <td th:text="${q.subject}"></td>-->
<!--        <td th:text="${q.createDate}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<h2>질문 목록</h2>

<table border="1">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="q : ${questionList}">
        <td th:text="${q.id}"></td>
        <td th:text="${q.subject}"></td>
        <td th:text=" ${q.createDate}"></td>
    </tr>
    </tbody>
</table>